* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lora', serif;
}



:root {
    --color1: rgb(112, 106, 106);
    --color2: rgb(0, 0, 0);

}

.logo {
    width: 160px;
    height: 100px;
}

a {
    text-decoration: none;
}

h1 {
    text-transform: uppercase;
}

ul li {
    list-style: none;
    text-transform: capitalize;
    margin: 10px;
}

input,
textarea,
select {
    display: block;
    outline: none;

}


.myButton {
    box-shadow: inset -5px 1px 14px -6px #c8a650;
    background: linear-gradient(to bottom, #b9a34b 5%, #a66a60 100%);
    background-color: #7a6561;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding: 1rem 2rem;
    text-decoration: none;
    text-shadow: -2px 4px 2px #8e803d;
    margin-top: 1rem;
    transition-duration: 1s;
}

.myButton:hover {
    background: linear-gradient(to bottom, #6d6950 5%, #ca9a92 100%);
    background-color: #aec773;
    color: #fff;
    scale: 1.1;
}

.myButton:active {
    position: relative;
    top: 1px;
}


/*--------------------------------------------------------------*/
.navbar-nav {
    margin: 0 7rem;
}

.nav-link,
h3,
h2,
h4 {
    text-transform: capitalize;
}

.nav-link {
    color: rgb(154, 115, 56);
    font-weight: bold;

}

header ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 3rem;
}

header ul {
    gap: 7rem;
}

p {
    margin: 1rem 0;

}

/*------------------------------------hero section----------------------------------*/
#hero,
.provider {
    width: 100%;
    height: 80vh;
    position: relative;
}

#hero img,
.provider img {
    z-index: -1;
    position: absolute;
    max-width: 100%;
    width: 100%;
    height: 100%;
}

#hero div {
    width: 45%;
    height: 100%;
    background-color: rgb(5, 5, 5, .3);
    color: #fff;
    padding: 8rem 5rem 5rem;
}

#hero h1 {
    margin: 1rem 0;
}

#hero :first-child p {
    color: rgb(112, 106, 106);
}

/*------------------------------------about_us section----------------------------------*/


#discover {
    display: flex;
    padding: 5rem;
    justify-content: space-between;
h5{
    color: #d7b325;
}
}

.border1 {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem;
    margin: 2rem 0;
    flex-wrap: wrap;
}

.border1 div {
    border: 1px solid;
    padding: 1rem;
    width: 20rem;
font-size: .9rem;
h4{
    color: #7c9e5d;
}
}

#discover p span {
    display: none;

}

@keyframes colors {
    10% {
        background-color: rgb(84, 114, 148);
    }

    30% {
        background-color: rgb(219, 131, 131);

    }

    50% {
        background-color: rgb(180, 177, 132);
    }

    80% {
        background-color: rgb(73, 94, 38);
    }
}

.read_more {
    border: none;
    color: #36a3be;
    background-color: transparent;
}

.border1 :hover {
    animation-name: colors;
    animation-duration: 1s;
    animation-iteration-count: 10;
    scale: 1.1;
    transform: translateX(2%);
    h4{
        color: #fcfcff;
    
    }
}

#discover img {
    border-radius: 50%;
    width: 360px;
    height: 360px;
    transform: translate(20px, -20px);
transition-duration: 1s;
}

#discover img:hover {
    opacity: .8;
    transform: scale(0.9);
}

/*------------------------------------projects section----------------------------------*/

#explore {
    margin: 3rem;
}

#explore .explore {
    display: flex;
    gap: 3rem;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 0 4rem;
}

.explore div {
    width: 300px;
}
#explore img {
    height: 200px;
    width: 100%;
transition-duration: 2s;
}
#explore img:hover {
transform:scale(1.4);
cursor: pointer;
}

.explore div p {
    height: 150px;
}


.hidden {
    display: none;
}


#explore .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}


#explore .buttons button {
    padding: 1rem .5rem;
    border: none;
    width: 90%;
}



/*------------------------------------services section----------------------------------*/
#services {
    margin: 5rem 0;
}

#services .carousel-item img {
    filter: brightness(70%);
    height: 80vh;
}

/*------------------------------------ideas section----------------------------------*/
#ideas {
    margin: 5rem ;
    h3 {
        text-align: center;
    }
}

#ideas .services {
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    gap: 3rem;
    padding: 3rem 5rem;
}

#ideas .services div {
    display: flex;
    gap: 2rem;
    background-color: #5e7b6a;
    padding: 1rem 2rem;
    color: #fff;
}

#ideas .services img {
    width: 100px;
    height: 100px;
    border-radius: 50%;

}

/*------------------------------------filter section----------------------------------*/
#filter {
    padding: 5rem;
    background-color: #edecde;
}

#filter div:first-child {
    margin: auto;
    padding: 3rem;
    width: 50%;

    select {
        padding: .5rem 1rem;
        background-color: #f6c47d;
    }
}


#filter div:nth-child(2) {
    visibility: hidden;
}


#filter div:nth-child(2) input,
:nth-child(2) select {
    margin: 1rem 0;
}

#filter .border input{
    width: 100%;
    padding: .5rem;
}

#filter div:nth-child(2) select,
#filter div:nth-child(3) select {
    padding: .3rem .5rem;
}

#filter div:nth-child(2) select {
    background-color: #d0dac4;
}

#filter div:nth-child(3) {
    display: none;

    select {
        background-color: #a4a6ca;
    }
}

.card {
    margin: 1rem;
    padding: 1rem 3rem;
}

.color {
    display: flex;
    gap: 1rem;
}

/*------------------------------------appointment section----------------------------------*/

#appointment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    background-color: #edecde;
    gap: 10rem;
    display: none;
}

#appointment:target{
    scroll-behavior:smooth;
}

#appointment div:nth-child(2) form {
    padding: 2rem;
    background-color: #fff;
    height: 30rem;
    border-radius: 10px;
    transition-duration: 2s;
}
#appointment div:nth-child(2):hover form{
    margin-right: 5rem;
    background-color: #5e7b6a;
}

#appointment form input,
textarea {
    background-color: rgb(234, 234, 234);
    width: 95%;
    border: none;
    margin: .6rem;
    padding: .6rem .8rem;
}

.flex {
    display: flex;
}

/*------------------------------------about_us page----------------------------------*/
/*------------------------------------about_us section----------------------------------*/
#about_us {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 3rem 4rem;
    flex-wrap: wrap;
}

#about_us img {
    width: 350px;
}

#about_us div {
    width: 55%;
}

/*------------------------------------search section----------------------------------*/
#search {
    position: relative;
    height: 90vh;
}

#search video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#search div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 1;
}

#search input {
    padding: 0.5rem 1rem;
    width: 80%;
    border-radius: 5px;
    border: 2px solid #fff;
    background-color: rgba(255, 255, 255, 0.7);
    margin-top: 1rem;
    margin-left: 2rem;
}

#search::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

/*------------------------------------team section----------------------------------*/
#team {
    margin: 5rem;
}

#team a {
    display: block;
    color: #a73f2d;
}

#team img {
    width: 85%;
    height: 250px;
    max-width: 100%;
    padding: 1rem;
}

#team .row {
    gap: 30px;
}

#team .row div {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    transition: 2s;
}

#team .row div:hover {
    transform: scale(.9);
}

/*------------------------------------footer section--------------------------*/
footer {
    padding: 3rem;
    background-color: #737373;

    h6 {
        color: #ff990a;
    }
}

footer div:first-child,
.contact {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.contact i {
    color: #ed8f0b;
    margin-right: 2rem;
    font-size: 1.6rem;
transition: 1s;
}
.contact i:hover{
    color: #fff;
    scale: 1.3;
    cursor: pointer;
}



footer a {
    color: #cccbcb;
    margin-left: .3rem;
}

footer a:hover {
    color: #35c768;
}

footer .links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 1rem;
    font-size: .9rem;
    font-weight: bold;
}